@font-face {
    font-family: 'ForcedSquare';
    src: url('forced_square.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'ForcedSquare';
    scrollbar-color: #7272c2 #223;
}

p {
    color: white;
}

.ui {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.head-div {
    text-align: center;
    background: rgb(40, 52, 106);
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%
}

.tracks-div {
    width: 50%;
    height: 85%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    overflow-y: scroll;
    direction: rtl;
    pointer-events: auto;
    min-height: 0;
    will-change: transform;
    left: 0;
}

.track {
    width: 90%;
    flex-shrink: 0;
    cursor: pointer;
    background-size: cover;
    border: none;
    aspect-ratio: 2 / 1;
    border-radius: 5px;
}

.lb-div {
    width: 50%;
    height: 88%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.leaderboard {
    height: 100%;
    margin: 20px;
    background: #28346a;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.leaderboard-entry {
    width: 90%;
    height: 8%;
    background: rgb(33, 43, 88);
    margin-top: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.popup {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(33, 43, 88);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    z-index: 99;
    font-size: 32px;
  }